@font-face {
  font-family: 'Nunito';
  font-weight: 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Black';
  src: url("Nunito-Black.ttf") format("truetype");
}

@font-face {
  font-family: 'Nunito';
  font-weight: 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Black Italic';
  src: url("Nunito-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Nunito';
  font-weight: 800;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'ExtraBold';
  src: url("Nunito-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Nunito';
  font-weight: 800;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'ExtraBold Italic';
  src: url("Nunito-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Nunito';
  font-weight: 200;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'ExtraLight';
  src: url("Nunito-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: 'Nunito';
  font-weight: 200;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'ExtraLight Italic';
  src: url("Nunito-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Nunito';
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Bold';
  src: url("Nunito-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Nunito';
  font-weight: 700;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Bold Italic';
  src: url("Nunito-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Nunito';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Nunito';
  font-weight: 400;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("Nunito-Italic.ttf") format("truetype");
}

@font-face {
  font-family: 'Nunito';
  font-weight: 600;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'SemiBold';
  src: url("Nunito-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Nunito';
  font-weight: 600;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'SemiBold Italic';
  src: url("Nunito-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Nunito';
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Medium';
  src: url("Nunito-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Nunito';
  font-weight: 500;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Medium Italic';
  src: url("Nunito-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Nunito';
  font-weight: 300;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Light';
  src: url("Nunito-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Nunito';
  font-weight: 300;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Light Italic';
  src: url("Nunito-LightItalic.ttf") format("truetype");
}