<div class="w-full flex flex-col">
    <div class="w-full flex justify-center px-4 mb-16 mt-8 md:mt-16" (mouseenter)="titleHover = true" (mouseleave)="titleHover = false"
        (click)="titleHover = !titleHover">
        <div class="w-full max-w-3xl">
            <h1 class="text-[5rem] md:text-[10rem] leading-[.9] hover-text" #pageTitle>
                Lucas Sanders
            </h1>
        </div>
    </div>

    <div class="w-full flex flex-col items-center py-10 px-4 bg-amber-200 dark:bg-amber-800">
        <div class="w-full max-w-3xl prose prose-lg border border-black p-4 rounded-lg mb-3 cursor-pointer hover:shadow-2xl" (click)="triggerHoverBox('about')">
            <div class="flex flex-row justify-between items-center">
                <h2 class="my-0">
                    About Me
                </h2>
                <mat-icon svgIcon="heroicons_outline:chevron-down" class="transition-all duration-[225ms]" [ngClass]="{ '-rotate-90': hoverBox !== 'about' }">
                </mat-icon>
            </div>

            <div @expandCollapse *ngIf="hoverBox === 'about'" class="mt-8">
                <p>
                    I'm a full-stack software engineer with a specialty in front-end development.
                </p>
                <p class="mb-0">
                    My experience ranges from media and HR tech to finance and telecommunications.
                </p>
            </div>
        </div>

        <div class="w-full max-w-3xl prose prose-lg border border-black p-4 rounded-lg mb-3 cursor-pointer hover:shadow-2xl"
            (click)="triggerHoverBox('projects')">
            <div class="flex flex-row justify-between items-center">
                <h2 class="my-0">
                    Projects
                </h2>
                <mat-icon svgIcon="heroicons_outline:chevron-down" class="transition-all duration-[225ms]"
                    [ngClass]="{ '-rotate-90': hoverBox !== 'projects' }">
                </mat-icon>
            </div>

            <div @expandCollapse *ngIf="hoverBox === 'projects'" class="mt-8">
                <a class="text-lg" mat-flat-button [color]="'primary'" [routerLink]="'/checkers'">
                    <div class="flex flex-row gap-2 items-center">
                        <span>Checkers</span>
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_mini:arrow-long-right'"></mat-icon>
                    </div>
                </a>
            </div>
        </div>

        <div class="w-full max-w-3xl prose prose-lg border border-black p-4 rounded-lg">
            <div class="flex flex-row justify-between items-center">
                <h2 class="my-0">
                    Blog Posts
                </h2>
                <!-- <mat-icon svgIcon="heroicons_outline:chevron-down" class="transition-all duration-[225ms]" [ngClass]="{ '-rotate-90': !blogsHover }">
                </mat-icon> -->
            </div>

            <div @expandCollapse *ngIf="hoverBox === 'blogs'" class="mt-8">

            </div>
        </div>
    </div>

</div>