.checker {
  @apply absolute rounded-full;

  .checker-top {
    @apply relative block;

    &::after {
      content: "";
      @apply absolute inset-0 -top-[8%] -left-[8%] h-full w-full rounded-full;
    }
  }

  &.checker-red {
    @apply bg-red-950;

    .checker-top::after {
      @apply bg-red-600;
    }
  }

  &.checker-black {
    @apply bg-black;

    .checker-top::after {
      @apply bg-gray-600;
    }
  }
}

.highlight {
  background: radial-gradient(circle, rgba(255, 255, 0, 1), rgba(255, 255, 0, 0));
  @apply absolute block rounded-full opacity-50;
}

.inset-hover-shadow {
  background: radial-gradient(circle, rgba(255, 255, 0, 0), rgba(255, 255, 0, 1));
}