<div class="flex flex-col items-center justify-center w-full h-full px-4">
    <div class="w-full max-w-3xl">
        <div class="max-w-none mx-auto prose prose-sm">
            <h1>Lucas Sanders</h1>
            <h2 class="mb-4">Software Portfolio</h2>
            <p>
                I'm a versatile software engineer with a track record of excellent full-stack development, and a specialty in user interface design and execution.
                I have a proven track record building applications across many industries, from media and HR tech to finance and telecommunications.
                I studied software engineering with cloud and big data projects at the forefront of the industry, and fluency in updated engineering terms has shaped the development of my projects.
            </p>
            <p>
                My portfolio is under active development, so projects may be incomplete. I will be adding even more projects to highlight my problem-solving, design, and technical communication approaches. 
            </p>
        </div>
        <div>
            <a
                class="mt-8"
                mat-flat-button
                [color]="'primary'"
                [routerLink]="'/checkers'">
                <div class="flex flex-row gap-2 items-center">
                    <span>Checkers</span>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_mini:arrow-long-right'"></mat-icon>
                </div>
            </a>
        </div>
    </div>
</div>
