body fuse-splash-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333333;
    color: #f9fafb;
    z-index: 999999;
    pointer-events: none;
    opacity: 1;
    visibility: visible;
    transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

body fuse-splash-screen img {
    width: 120px;
    max-width: 120px;
}

body fuse-splash-screen .container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

body fuse-splash-screen .container > div {
    width: 25vw;
    height: 25vw;
    background-color: white;
    opacity: 20%;
    border-radius: 100%;
    position: absolute;
    -webkit-transform: scale(0);
    transform: scale(0);

    -webkit-animation: custom-ripple 1s linear forwards;
    animation: custom-ripple 1s linear forwards;
}

body fuse-splash-screen .container .bounce1 {
    -webkit-animation-delay: -0.40s;
    animation-delay: -0.40s;
    top: 10vh;
    left: 10vw;
}

body fuse-splash-screen .container .bounce2 {
    -webkit-animation-delay: -0.20s;
    animation-delay: -0.20s;
    top: 65vh;
    left: 37.5vw;
}

body fuse-splash-screen .container .bounce3 {
    top: 37.5vh;
    left: 65vw;
}

@-webkit-keyframes custom-ripple {
    0% {
        -webkit-transform: scale(0);
    }
    25% {
        -webkit-transform: scale(0);
    }
    50% {
        opacity: .2;
    }
    100% {
        -webkit-transform: scale(2);
        opacity: 0;
    }
}

@keyframes custom-ripple {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    25% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        opacity: .2;
    }
    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }
}

body:not(.fuse-splash-screen-hidden) {
    overflow: hidden;
}

body.fuse-splash-screen-hidden fuse-splash-screen {
    opacity: 0;
}

body fuse-splash-screen {
    transition: opacity 600ms ease;
}
